body {
	background: #eceef0;
}

svg.imp {
	fill: #fd3826 !important;
}

#tb-add-modal > .main-popup {
	height: 500px !important;
}

.tb__logo {
	height: 72px !important;
	margin-right: 0px !important;
}

.tb__logo img {
	height: 72px !important;
}

.tb-card__paddings {
	padding-top: 0px !important;
}
