body {
	background: #eceef0;
}

#ta__add-modal > .main-popup {
	height: 500px !important;
}

.ta__logo {
	height: 72px !important;
	margin-right: 0px !important;
}

.ta__logo img {
	height: 72px !important;
}

.ta__card-paddings {
	padding-top: 0px !important;
}
